.container {
    width: 100%;
    height: calc(100% - var(--mantine-spacing-md));
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin-top: var(--mantine-spacing-md);
}

.items {
    width: 100%;
    flex: 1;
    min-height: 0;
    overflow: auto;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}