.frameBar {
    /* tamanho do frame */
    width: 100vw;
    height: 2.5rem;

    /* organização do frame */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--mantine-spacing-xs);
    /* padding-right: var(--mantine-spacing-xs); */
    user-select: none;

    /* borda */
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    background-color: var(--mantine-color-body);
    
    /* posição do framer bar */
    position: fixed;
    z-index: var(--mantine-z-index-max);
    top: 0;
    
    /* permite mover a janela */
    -webkit-app-region: drag;
}

.mainButton {
    -webkit-app-region: no-drag;

    &:hover {
        background-color: var(--mantine-primary-color-light-hover);
    }
}